# Archivos de Visual Studio
.vs/
*.user
*.suo
*.cache

# Archivos de compilación
bin/
obj/

# Archivos de paquetes
*.nupkg
packages/

# Configuraciones específicas de depuración
*.launch.json
*.generated.*

# Archivos temporales
*.log
*.tmp
*.bak
*.swp